.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 33.75%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-blue);
    padding-top: 3.6rem;
    box-shadow: -0.5rem 0 0.6rem rgba(0, 0, 0, 0.13);
}
.sidebar_header{
    width: 100%;
    padding: 0 2.2rem 0 4.7rem;
    display: flex;
    justify-content: space-between;
}
.h1{
    color: var(--color-white);
    width: 18rem;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.3rem;
}
.sidebar_close{
    cursor: pointer;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.5rem;
    padding: 1.15rem 1.2rem 1.05rem 1.05rem;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow-y: auto;
    padding: 1rem 0;
    gap: 2.8rem;
}
.items::-webkit-scrollbar {
    width: 1rem;
  }
  
  .items::-webkit-scrollbar-track {
    background: var(--color-blue);        
  }
  
  .items::-webkit-scrollbar-thumb {
    background-color: var(--color-black);    
    border-radius: 2rem;       
    border: 0.2rem solid var(--color-blue);
  }
.totalPrice{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5rem;
    color: var(--color-white);
    margin-top: 20%;
    margin-bottom: 20%;
}
.finalizar{
    all: unset;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    height: 9.7rem;
    width: 100%;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}